.all-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-container {
    display: grid;
    gap: 2px;
    width: 250px;
    height: 250px;
    padding: 10px;
}
.grid-item {
    display: grid;
    border: 1px solid black;
}